html,
body {
  background-color: #E5e7e6;
}

/*#region Socials*/
/*Reference https://www.w3schools.com/howto/howto_css_sticky_social_bar.asp*/
.icon-bar {
  position: fixed;
  top: 92%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 999;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 5px;
  transition: all 0.3s ease;
  color: black;
  opacity: 60%;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: rgb(129, 107, 55);
}

.fab.fa-facebook-f.fa-2x,
.fab.fa-instagram.fa-2x, 
.fab.fa-behance.fa-2x,
.fab.fa-solid.fa-book.fa-2x,
.fab.fa-solid.fa-globe.fa-2x,
.fab.fa-brands.fa-linkedin-in.fa-2x{
  font-size: 2.1vh;
}
/*#endregion Socials*/

.brlarge {
  display: block;
  margin-bottom: 4rem;
}

/*#region Navbar*/
.navbar {
  background: #E5e7e6;
  height: 80px;
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  font-weight: 700;
}

.nav-link {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.15rem;
}

.navbar-nav,
.mr-auto {
  flex-basis: 20rem;
  margin: 0rem;
  display: flex;
  justify-content: space-around;
}

.btn.btn-dark {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  background-color: black;
}
.btn.btn-dark.btn-sm {
  height: 6vmin;
  width: 20vw;
  font-size: 2vmin;
}

.btn.btn-dark:hover {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  background-color: black;
  transform: scale(1.1);
  z-index: 999;
  position: relative;
}

.navbar-brand:hover {
  transform: scale(1.1);
}

#navbarText {
  position: relative;
  z-index: 1;
  background-color: #E5e7e6;
}
/*#endregion Navbar*/

/*#region Home Page*/
.main-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 7vw;
  color: black;
}

.sub-header {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  font-size: 2.5vw;
  letter-spacing: 1.6px;
  margin-bottom: 0.2vw;
}

.body-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5vmin;
  line-height: 1.8vw;
  padding-right: 4vw;
  text-align: justify;
  margin-top: 0%;
  margin-bottom: 0%;
}

.block {
  display: inline-flex;
  align-items: center;
  background: black;
  width: 100%;
  /*height: 5vmin;*/
  height: 50px;
  border-radius: 15px 0px 0px 0px;
  /*padding-bottom: 12%;*/
  position: absolute;
  bottom: 0;
}

.sub-header-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.9vmin;
  color: #E5e7e6;
  padding-left: 15px;
  /*padding-top: 6vw;*/
  margin-bottom: 0vw;
}

.hr-main {
  border: 3px solid black;
  border-radius: 0px;
  opacity: 100;
  margin-block-end: 0rem;
  margin: 0rem;
}
/*#endregion Home Page*/

/*#region Cards*/
.card-img-top-1 {
  width: 26vw;
  height: 38vw;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: -1vw 1vw 0vw 0vw #7844cc;
}

.card-img-top-2 {
  width: 26vw;
  height: 38vw;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: -1vw 1vw 0vw 0vw #db0dd6;
}

.card-img-top-3 {
  width: 26vw;
  height: 38vw;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: -1vw 1vw 0vw 0vw #32e1c4;
}

.card-img-top-4 {
  width: 26vw;
  height: 38vw;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: -1vw 1vw 0vw 0vw #000000;
}

.card {
  border: 0rem;
  background-color: #E5e7e6;
  align-items: center;
}

.name {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2vw;
}

.card-img-top:hover {
  opacity: 60%;
}

.card:hover {
  transform: scale(1.01);
  z-index: 999;
  position: relative;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 1.7vw;
  color: black;
  padding-left: 0px;
  padding-top: 3vw;
  padding-bottom: 2vw;
  margin-bottom: 0px;
}

.student-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.7vw;
  color: black;
  padding-left: 0px;
  padding-top: 3vw;
  padding-bottom: 2vw;
  margin-bottom: 0px;
}
/*#endregion Cards*/

/*#region Student Page*/
.block-custom {
  background: black;
  height: 3vw;
  border-radius: 0px 0px 0px 0px;
}

.student-name {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 5vmin;
}

.project-name {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 4vmin;
  color: black;
  padding-left: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}

.body-text-student {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8vmax;
  line-height: 2vw;
  padding-right: 10vw;
  text-align: justify;
  margin-bottom: 0px;
}

.student-image-1 {
  width: 38vmin;
  height: 53vmin;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: -1vw 1vw 0vw 0vw #7844cc;
  margin: auto;
  margin-right: 10vmin;
}

.student-image-2 {
  width: 38vmin;
  height: 53vmin;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: -1vw 1vw 0vw 0vw #db0dd6;
  margin: auto;
  margin-right: 10vmin;
}

.student-image-3 {
  width: 38vmin;
  height: 53vmin;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: -1vw 1vw 0vw 0vw #32e1c4;
  margin: auto;
  margin-right: 10vmin;
}

/*#endregion Student Page*/

/*#region Forms*/
/*Reference https://stackoverflow.com/questions/33867603/center-an-element-in-bootstrap-navbar*/
input[type="email"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.form-label {
  font-size: 2.5vmin;
  margin-top: 2vw;
}
.form-control {
  font-size: 2vmin;
}

input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 1.5vw;
}
/*#endregion Forms*/

.carousel-inner {
  width: 70%;
  margin: auto;
}

/*#region Sponsor Logos*/
.logos {
  width: 150%;
  height: 100%;
  object-fit: contain;
}

.col.col-custom {
  margin: 16.667%;
  margin-bottom: 22.5%;
}

.row.row-custom {
  align-items: flex-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 15.5vw;
}
/*#endregion Sponsor Logos*/

.img-fluid {
  max-width: 100%;
  height: auto;
}

/*#region Social Icons*/
.social-icons {
  top: 92%;
  -webkit-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  transform: translateY(80px);
  transform: translateX(-15px);
  z-index: 999;
}

.social-icons a {
  transition: all 0.3s ease;
  color: black;
  opacity: 60%;
  text-align: left;
}

.social-icons a:hover {
  color: #7844cc;
}

