.profile__about__name, .profile__about__personal-website, .project__title {
    
       /* Gopher Bold */

       font-family: gopher, sans-serif;
       font-weight: 700;
       font-style: normal;

}

.project__title--italic {
        
       /* Gopher Bold */

       font-family: gopher, sans-serif;
       font-weight: 700;
       font-style: italic;

}

main {
    display: flex;
    flex-direction: column;
}

.main__info {
    display: flex;
    flex-direction: row;
}

.profile {
    display: flex;
    flex: 1 0 150px;
    margin: var(--spacing);
}

.profile > picture, .profile > picture > img {
    width: 100px;
    height: 100px;
}

.profile > picture:nth-child(2) {
    position: absolute;
    -webkit-animation: fadeInAndOut 5s step-start infinite;
            animation: fadeInAndOut 5s step-start infinite;
}

@-webkit-keyframes fadeInAndOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInAndOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.profile__about {
    margin-left: var(--spacing);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__about__name {
    margin-top: 0;
    font-size: clamp(1.2rem, 0.6145rem + 2.4979vw, 2.488rem);
    font-weight: 700;
    font-style: normal;;
}

.profile__about__personal-website {
    font-weight: 700;
    font-style: normal;
    font-size: clamp(0.579rem, 0.3876rem + 0.8165vw, 1rem);
}

.profile__about__socials {
    margin-top: 0.539rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.profile__about__socials a {
    margin-right: 0.539rem;
}

.project {
    padding: var(--spacing);
}

.project__title {
    font-style: normal;
    font-size: clamp(0.833rem, 0.7571rem + 0.3239vw, 1rem);
}

.project__tag {
    font-size: clamp(0.694rem, 0.6308rem + 0.2696vw, 0.833rem);
    margin-top: 0.233rem;
}

.project__bio {
    margin-top: 1.2rem;
    font-size: clamp(0.833rem, 0.7571rem + 0.3239vw, 1rem);
    line-height: calc(1.75*(clamp(0.833rem, 0.7571rem + 0.3239vw, 1rem)));
    margin-right: var(--spacing);
}

a.project__see-more {
    display: block;
    margin-top: 0.833rem;
    color: var(--red);
    text-decoration: underline;
    font-size: clamp(0.833rem, 0.7571rem + 0.3239vw, 1rem);
}

.main__project-images, .main__project-videos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: var(--spacing);
    cursor: default;
}

.main__project-videos {
    padding-bottom: 0;
}

.iframe__container {
    position: relative;
    margin: 0;
    width: 100%;
    padding-top: 56.25%;
    height: 0;
    margin-bottom: var(--spacing);
}

.iframe__container--different {
    padding-top: 41.88%;
}

.iframe__container:last-child {
    margin-bottom: 0;
}

.iframe__container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main__project-images > picture {
    width: 100%;
    padding-bottom: var(--spacing);
} 

.main__project-images > picture > img {
    width: 100%;
    height: 100%;
    cursor: zoom-in;
}

.iframe__container:last-child, .main__project-images > picture:last-child {
    padding-bottom: 0;
}

@media only screen and (min-width: 1400px) {

    .project__bio {
        padding-right: 30%;
    }

    .main__project-videos {
        width: calc(2*1080px+var(--spacing));
    }

    .main__project-images, .main__project-videos {
        padding-right: 30%;
    }

    .main__project-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .main__project-images > picture {
        padding-right: calc(0.5*var(--spacing));
    }

    .main__project-images > picture:nth-child(even) {
        padding-right: 0;
        padding-left: calc(0.5*var(--spacing));
    }

    .main__project-images > picture:nth-last-child(2):not(:nth-child(even)) {
        padding-bottom: 0;
    }
}