.sponsors__container {
    padding: var(--spacing);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.sponsors__img-container {
    padding-bottom: var(--spacing);
    padding-right: var(--spacing);
    align-self: center;
}


@media only screen and (min-width: 1200px) {
    .sponsors__img-container img {
        width: 140px;
        height: 140px;
    }
}