main {
    margin: 0;
    padding: 0;
    padding: var(--spacing);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.project {
    margin-bottom: var(--spacing);
}

.project:last-child {
    margin-bottom: 0;
}

a.project {
    display: block;
}

.project-img {
    height: 170px;
}

.project-img img {
    height: 100%;
    width: 100%;
    padding: 5%;
    -o-object-fit: contain;
       object-fit: contain;
    
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-title {
    font-family: 'gopher';
    font-weight: 200;
    text-align: center;
    font-size: clamp(0.833rem, 0.7571rem + 0.3239vw, 1rem);
    padding: 4%;
}

.project-tag {
    font-size: clamp(0.694rem, 0.6308rem + 0.2696vw, 0.833rem);
    padding: var(--spacing) 0 0 var(--spacing);
}

.project-student {
    margin-top: 0.233rem;
    padding: 5%;
    font-size: 17pt;
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
    display: flex;
    color: black; 

}

@media only screen and (min-width: 456px) and (max-width: 767px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--spacing);
    }
}

@media only screen and (min-width: 768px) {

    .project-img {
        height: 240px;
    }
}

@media only screen and (min-width: 1116px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--spacing);
    }

    .project {
        margin-bottom: 0; /* Handled by grid-gap. */
    }

    .project-img {
        height: 368px;
    }
}

@media only screen and (min-width: 1400px) {
    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}






















