body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-family: 'Abril Fatface', cursive;
    color: #F8ecd2;
    padding-bottom: 20px;
}

.video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
}


/* CHECK RESPONSIVENESS OF TITLE AND BUTTON ON MOBILE */

.overvideo {
    position: fixed;
    z-index: 2;
    text-align: center;
    bottom: 150px;
    right: 0px;
    left: 0px;

}

#buttonvideo {
    width: 250px;
    height: 60px;
    border-color: #F8ecd2;
    border-width: 2px;
    background-color: transparent;
    color: #F8ecd2;
}

#buttonvideo:hover {
    width: 250px;
    height: 60px;
    border-color: #63B5A2;
    border-width: 2px;
    background-color: rgba(99, 181, 162, 0.75);
    color: #F8ecd2;
}