#openinghours {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: var(--white);
    font-size: calc(1vw / 1 + 1vh / 1);

    line-height: 2.5em;

    padding-top: 6vh;
}

#openinghourscontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: auto;
}

#visit {
    text-align: left;
    color: var(--yellow);
    font-size: calc(1vw / 1 + 1vh / 1);
}

.left {
    float: left;
}

.right {
    float: right;
}

h1, p {
    margin-bottom: 0.5em;
    letter-spacing: 1px;
}



@media screen and (max-aspect-ratio: 1/1) {
    #openinghours {
        padding-top: 3vh;
        line-height: 3em;
    }

    #openinghourscontainer {
        width: 90%;
    }

    #visit {
        font-size: calc(1vw * 1.8 + 1vh * 1.8);
    }

    h1, p {
        margin-bottom: 0;
        font-size: calc(1vw * 1.8 + 1vh * 1.8);
    }

    h1, #openinghours span {
        margin-bottom: 1em;
    }

    .right {
        float: left;
    }
}