html {
    overflow-y: scroll;
}

/* Projects grid (desktop) */
#grid-container-desktop {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    row-gap: 4em;

    width: 80%;
    margin: 0 auto;
}

#grid-container-mobile {
    display: none;
}

.grid-item {
    /* float: left; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;

    margin-left: 3em;
    margin-right: 3em;

    transition: 0.2s;
}

.grid-item img {
    width: 100%;
    height: 100%;

    transition: 0.2s;
}

.grid-item-image {
    width: 100%;
    height: 80%;

    cursor: pointer;

    background: black;

    position: relative;
}

.grid-item-image:hover>img {
    opacity: 0.6;
}

.grid-item-author {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;

    font-size: 2em;
    font-weight: 400;
    letter-spacing: 1px;

    transition: 0.2s;
}

.grid-item-author p {
    top: 50%;
    left: 50%;
}

.grid-item-author:hover {
    color: var(--white);
}

.grid-item-type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--white);
}

.grid-item-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12%;

    text-align: center;
    text-transform: uppercase;

    font-size: 1.2em;
    font-weight: 600;

    letter-spacing: 1px;

    background-color: var(--white);
    color: var(--bg);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Handle */
/* #fullscreenviewer ::-webkit-scrollbar {
    background: var(--bg);
    width: 0.2em;
}

#fullscreenviewer ::-webkit-scrollbar-thumb {
    width: 0.2em;
    background: var(--yellow);
} */

#fullscreenviewer {
    display: none;

    z-index: 4;

    height: 100%;
    width: 100%;

    background: var(--gray);

    position: fixed;
    overflow-y: scroll;

    animation: fadeInAnimation ease 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#closebutton {
    z-index: 7;
    position: fixed;
    margin-top: calc(12vh + 3em);
    margin-left: 3em;
    top: 0;
    left: 0;

    transform: rotate(90deg);

    opacity: 1;

    cursor: pointer;

    transition: 0.4s;
}

#closebutton:hover {
    opacity: 0.8;
}

#closebutton img {
    width: 1.5em;
    /* padding: 1em; */
}

#projectfullscreen {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 6;
    margin-top: 12vh;
    padding-bottom: 10vh;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    background: var(--bg);
}

#fullscreen-landing {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;

    /* padding-top: 2em; */

    width: 70%;
    height: 100vh;

    margin: 0 auto;
}

#author-name {
    position: absolute;
    padding-top: 0.2em;

    font-size: calc(1vw + 1vh * 6);
    font-weight: 500;
    letter-spacing: 1px;

    color: var(--yellow);
}

#main-image {
    /* display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column; */

    width: 50%;
}

#main-image img {
    float: right;
    width: 90%;
    right: 0;
}

#main-info {
    float: right;
    width: 50%;
    min-height: 80vh;
    max-height: 88vh;

    padding-left: 2vw;

    padding-top: 14vh;
}

#project-title {
    font-size: calc(1vw + 1vh / 2);
    font-weight: 600;
    letter-spacing: 1px;

    margin-bottom: 1em;

    width: 45vw;

    text-transform: uppercase;

    color: var(--white);
}

#project-description {
    font-size: calc(1vw + 1vh / 3); /* increase font size based on viewport width */
    max-height: 100%;
    font-weight: 400;
    letter-spacing: 1px;

    width: calc(100%);

    color: var(--white);
}

#scroll-down {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    margin-top: 2em;

    width: 100%;
    height: 12vh;

    transition: 0.4s;
}

#scroll-down:hover {
    opacity: 0.8;
}

#scroll-down img {
    cursor: pointer;

    width: 4em;
    padding: 1em;
}

#content {
    scroll-behavior: smooth;
    /* min-height: 100%; */
}

#lightbox {
    z-index: 8;

    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: rgba(0, 0, 0, 0.8);

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding-top: 12vh;

    animation: fadeInAnimation ease 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#lightbox img {
    height: 100%;
}

.template {
    padding-bottom: 6vh;
    padding-top: 6vh;
}

/* TEMPLATE 1 */
#template1 {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

#template1 .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em 1em;
    grid-template-areas:
        "a1 a2 a4"
        "a1 a3 a4";
    width: 75%;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

#template7 {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

#template7 .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em 1em;
    grid-template-areas:
        "a1 a2 a4"
        "a1 a3 a4";
    width: 75%;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.a1 {
    grid-area: a1;
}

.a2 {
    grid-area: a2;
}

.a3 {
    grid-area: a3;
}

.a4 {
    grid-area: a4;
}

#template1 .grid-item-image {
    width: 100%;
    height: 100%;
    /* overflow: auto; */
}

#template1 .grid-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

#template7 .grid-item-image {
    width: 100%;
    height: 100%;
    /* overflow: auto; */
}

#template7 .grid-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/* TEMPLATE 2 */
#template2 {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

#template2 .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40% 40%;
    gap: 2em 2em;
    grid-auto-flow: row;
    grid-template-areas:
        "a1 a2 a3 a4"
        "a5 a6 a7 a8";

    width: 65%;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.a1 {
    grid-area: a1;
}

.a2 {
    grid-area: a2;
}

.a3 {
    grid-area: a3;
}

.a4 {
    grid-area: a4;
}

.a5 {
    grid-area: a5;
}

.a6 {
    grid-area: a6;
}

.a7 {
    grid-area: a7;
}

.a8 {
    grid-area: a8;
}

#template2 .grid-item-image {
    width: 100%;
    height: 100%;
    /* overflow: auto; */
}

#template2 .grid-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/* TEMPLATE 2c */
#template2c {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

#template2c .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40% 40%;
    gap: 2em 2em;
    grid-auto-flow: row;
    grid-template-areas:
        "a1 a2 a3 a4"
        "a5 a6 a7 a8";

    padding-top: 6vh;

    width: 65%;
}

.a1 {
    grid-area: a1;
}

.a2 {
    grid-area: a2;
}

.a3 {
    grid-area: a3;
}

.a4 {
    grid-area: a4;
}

.a5 {
    grid-area: a5;
}

.a6 {
    grid-area: a6;
}

.a7 {
    grid-area: a7;
}

.a8 {
    grid-area: a8;
}

#template2c .grid-item-image {
    width: 100%;
    height: 100%;
    /* overflow: auto; */
}

#template2c .grid-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

input[type=radio] {
    display: none;
}

.card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
}

#template2c .carousel {
    margin-bottom: 5em;
}

.carousel {
    position: relative;

    /* overflow: hidden; */
    width: 66%;
    height: 70vh;
    padding-top: 6vh;
    padding-bottom: 6vh;
    margin-bottom: 6vh;
}

.carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    transition: transform 0.7s ease-in-out;
}

.carousel-slide {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    opacity: 0.2;
    background-color: var(--bg);
    /* padding-left:1em;
    padding-right:1em; */
    transition: opacity 0.4s ease-in-out;
    z-index: 0;
}

.carousel-slide:hover {
    opacity: 0.3;
}

.carousel-slide.active {
    opacity: 1;
    z-index: 9999;
    background-color: var(--bg);
}

.carousel-slide.active:hover {
    opacity: 0.9;
}

.carouselleft {
    transform: rotate(90deg);
    width: 1em;
    z-index: 9999;
}

.carouselright {
    transform: rotate(-90deg);
    width: 1em;
    z-index: 9999;
}

.carousel-slide img {
    cursor: pointer;
    z-index: -1;
    position: relative;
    display: block;
    max-width: 100%;
    object-fit: cover;
    height: 60vh;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    overflow: visible;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
    /* width: 1em; */
    font-size: 2em;
    /* margin: -1em; */
    /* height: 100%; */
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* z-index: 9999; */
}

.carousel-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.8em;
    left: -0.5em;
}

.carousel-next {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.8em;
    right: -0.5em;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.indicator {
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    margin: 0 0.5rem;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.active {
    z-index: 1;
    cursor: pointer;
    background-color: var(--yellow);
    pointer-events: auto;
}

.grid-item-image img {
    transition: 0.4s;
}

#content .grid-item-image:hover>img {
    opacity: 0.8;
}


/* TEMPLATE 3 */
#template3 {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

#template3 .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em 1em;
    grid-template-areas:
        "a1 a2 a4"
        "a1 a3 a4";
    width: 60%;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.video {
    width: 66%;

    padding-top: 6vh;
    padding-bottom: 6vh;
}

.grid-item-video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 16:9 */
    width: 100%;
    max-height: 80vh;

    position: relative;
}

.video iframe {
    width: 100%;
}

.a1 {
    grid-area: a1;
}

.a2 {
    grid-area: a2;
}

.a3 {
    grid-area: a3;
}

.a4 {
    grid-area: a4;
}

#template3 .grid-item-image {
    width: 100%;
    height: 100%;
    /* overflow: auto; */
}

#template3 .grid-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}


/* TEMPLATE 4 */
#template4 {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

#template4 .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em 1em;
    grid-template-areas:
        "a1 a2 a4"
        "a1 a3 a4";
    width: 60%;
    padding-bottom: 5em;
}

.a1 {
    grid-area: a1;
}

.a2 {
    grid-area: a2;
}

.a3 {
    grid-area: a3;
}

.a4 {
    grid-area: a4;
}

#template4 .grid-item-image {
    width: 100%;
    height: 100%;
    /* overflow: auto; */
}

#template4 .grid-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}


/* TEMPLATE 5 */
#template5 {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}




/* TEMPLATE 6 */
#template6 {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}


@media screen and (max-aspect-ratio: 1/1) {
    #grid-container-desktop {
        display: none !important;
    }

    /* Projects grid (mobile) */
    #grid-container-mobile {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;

        row-gap: 0;

        width: 100%;
        margin: 0;
    }

    #closebutton {
        position: fixed;
        top: auto;
        left: 1em;
        bottom: 1em;
        margin: 0;
        width: 2em;
    }

    .grid-item {
        float: left;
        width: 100%;

        padding: 1.5em;
        padding-left: 2em;
        padding-right: 2em;
        margin: 0;
        text-align: center;
    }

    .grid-item img {
        /* width: 100%;
        height: 100%; */
        object-fit: cover;
    }

    .grid-item-type {
        font-size: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .grid-item-title {
        font-size: 1.2em;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    #projectfullscreen {
        width: 100%;
        text-align: justify;
        overflow-x: hidden;
    }

    #fullscreen-landing {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 80%;
        height: auto;
        padding-bottom: 5em;
    }

    #author-name {
        position: relative;
        z-index: 5;
        margin-bottom: -2.2em;
        font-size: 3em;
    }

    #main-image {
        width: 100%;
        padding-bottom: 1em;
    }

    #main-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    #main-info {
        width: 100%;
        height: 100%;
        min-height: 0;
        padding: 0;
    }

    #project-title {
        font-size: 1em;
        text-align: left;
        margin: 0;
        padding-bottom: 1em;
        width: 100%;
    }

    #project-title br {
        display: none;
    }

    .showbr br {
        display: block !important;
    }

    #project-description {
        text-align: left;
        font-size: 1em;
    }

    #scroll-down {
        display: none;
    }

    #content {
        position: relative;
        height: 100%;
    }

    #template1 .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 1em 1em;
        grid-template-areas:
            "a1"
            "a2"
            "a3"
            "a4";
        width: 80%;
        padding-bottom: 5em;
    }

    #template7 .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 1em 1em;
        grid-template-areas:
            "a1"
            "a2"
            "a3"
            "a4";
        width: 80%;
        padding-bottom: 5em;
    }

    #template2 .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1em 1em;
        grid-auto-flow: row;
        grid-template-areas:
            "a1 a2"
            "a3 a4"
            "a5 a6"
            "a7 a8";

        width: 80%;
        padding-bottom: 5em;
    }

    #template2c .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1em 1em;
        grid-auto-flow: row;
        grid-template-areas:
            "a1 a2"
            "a3 a4"
            "a5 a6"
            "a7 a8";

        width: 80%;
        padding-bottom: 5em;
    }

    #template3 .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 1em 1em;
        grid-template-areas:
            "a1"
            "a2"
            "a3"
            "a4";
        width: 80%;
        padding-bottom: 5em;
    }

    .video {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        height: auto;
        min-height: 0;
        padding-bottom: 5em;
    }

    #template4 .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 1em 1em;
        grid-template-areas:
            "a1"
            "a2"
            "a3"
            "a4";
        width: 80%;
        padding-bottom: 5em;
    }

    #lightbox img {
        width: 100%;
        object-fit: contain;
    }

    .carousel {
        position: relative;

        /* overflow: hidden; */
        width: 100%;
        height: auto;
        margin-bottom: 15em;
    }

    .carousel-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        transition: transform 0.7s ease-in-out;
    }

    .carousel-slide {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        opacity: 0.2;
        background-color: var(--bg);
        /* padding-left:1em;
        padding-right:1em; */
        transition: opacity 0.4s ease-in-out;
        z-index: 0;
    }

    .carousel-slide:hover {
        opacity: 0.3;
    }

    .carousel-slide.active {
        opacity: 1;
        z-index: 9999;
        background-color: var(--bg);
    }

    .carousel-slide.active:hover {
        opacity: 0.9;
    }

    .carouselleft {
        transform: rotate(90deg);
        width: 1em;
        z-index: 9999;
    }

    .carouselright {
        transform: rotate(-90deg);
        width: 1em;
        z-index: 9999;
    }

    .carousel-slide img {
        cursor: pointer;
        z-index: -1;
        position: relative;
        display: block;
        max-width: 100%;
        object-fit: cover;
        height: auto;
    }

    .carousel-prev,
    .carousel-next {
        position: absolute;
        overflow: visible;
        transform: translateY(-50%);
        cursor: pointer;
        color: #fff;
        /* width: 1em; */
        font-size: 2em;
        padding: 0.5em;
        /* margin: -1em; */
        height: 100%;
        /* background-color: rgba(0, 0, 0, 0.3); */
        /* z-index: 9999; */
    }

    .carousel-prev {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 0;
        left: 0.2em;
        bottom: 0;
    }

    .carousel-next {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 0;
        right: 0.2em;
        bottom: 0;
    }

    .carousel-indicators {
        display: flex;
        justify-content: center;
        margin-top: 2em;
    }

    .indicator {
        display: block;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        margin: 0 0.5rem;
        background-color: rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }

    .active {
        z-index: 1;
        cursor: pointer;
        background-color: var(--yellow);
        pointer-events: auto;
    }

    .video {
        margin-bottom: 5em;
    }
}