body {
    padding-bottom: 0;
}

/* Sponsors grid (desktop) */
.grid-container-desktop {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    padding-top: 6vh;
    /* padding-bottom: 6vh; */

    width: 66.6%;
    margin: 0 auto;
}

.grid-container-mobile {
    display: none;
}

.grid-item {
    float: left;
    width: 33.3%;

    padding: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    /* margin: 2em; */
    text-align: center;

    transition: 0.2s;
}

.grid-item img {
    width: 100%;
    height: auto;
}


.grid-item img:hover {
    cursor: pointer;
    opacity: 0.85;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* .row:after {
    content: "";
    display: table;
    clear: both;
} */

#credits {
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;

    font-size: 1.1em;

    padding-bottom: 2em;
}

.credits-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    justify-content: space-between;
    width: 50vw;
}

#credits a {
    color: var(--yellow);
    transition: 0.2s;
}


#credits a:hover {
    opacity: 0.85;
}

#credits p {
    margin: 0;
    padding: 0;
    line-height: 1em;
    margin-top: 2em;

    letter-spacing: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#credits img {
    width: 8em;
    /* height: 5em; */
    padding: 0;
    margin: 0;
}

@media screen and (max-aspect-ratio: 1/1) {
    .grid-container-desktop {
        display: none;
    }

    /* Sponsors grid (mobile) */
    .grid-container-mobile {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;

        width: 100%;
        margin: 0 auto;

        /* padding-bottom: 2em; */
    }

    .grid-item {
        float: left;
        width: 50%;

        padding: 1em;
        padding-left: 2em;
        padding-right: 2em;
        text-align: center;
    }

    .grid-item img {
        width: 100%;
        height: 100%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    #credits {
        color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;

        font-size: 1.2em;
    }

    .credits-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        justify-content: space-between;
        width: 80%;
    }

    #credits a {
        color: var(--yellow);
        transition: 0.2s;
    }

    #credits a:hover {
        opacity: 0.85;
    }

    #credits p {
        margin: 0;
        padding: 0;
        line-height: 1em;
        margin-top: 2.2em;

        letter-spacing: 1px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    #credits img {
        width: 8em;
        /* height: 5em; */
        padding: 0;
        margin: 0;
        margin-right: -1em;
    }
}